<!-- MYLOADER JS -->
<script src="{{site.baseurl}}/assets/js/MyLoader.js"></script>
<script>
  createUnityInstance(document.querySelector("#unity-canvas"), {
    dataUrl: "{{site.baseurl}}/assets/files/MnemonicMaker2D-Responsive/Build/MnemonicMaker2D-Responsive.data",
    frameworkUrl: "{{site.baseurl}}/assets/files/MnemonicMaker2D-Responsive/Build/MnemonicMaker2D-Responsive.framework.js",
    codeUrl: "{{site.baseurl}}/assets/files/MnemonicMaker2D-Responsive/Build/MnemonicMaker2D-Responsive.wasm",
    streamingAssetsUrl: "StreamingAssets",
    companyName: "KarakasisChristos",
    productName: "Mnemonic Maker 2D",
    productVersion: "1.0",
  }).then((unityInstance) => {
    myGameInstance = unityInstance;
  });
</script>
