
li.video {
  flex-grow: 1;
  position: relative;
  ooverflow: hidden;
	width: 33.333333333%;
	width: -webkit-calc(100% / 3);
	width: calc(100% / 3);
  border: solid 0.2em transparent;
  
  & a {
    outline: none;
  }
      
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color .15s;
  }
  
  & figure {
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    & img {
      display: block;
      max-width: 100%;
      height: auto;
      opacity: 0;
      transform: scale(0.5);
      transition: all .20s;
    }

    & figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0,0,0,0.6);
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      padding: 1rem;
      transform: translateY(0);
      opacity: 1;
      transition: all .20s;
    }
  }
  
  &:hover {
    & figure {
      & img {
        opacity: 1;
        transform: scale(1);
      }
      
      & figcaption {
        opacity: 0;
        transform: translateY(50%);
      }
    }
  }
  
  &:hover:before {
    background-color: rgba(0,0,0,0.3);
  }
}

@media screen and (max-width: 800px) {
	li.video {
		width: 50%;
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 640px) {
	li.video {
		width: 100%;
	}
}

/**
 * Pen styles
 */
html { box-sizing: border-box; height: 100%; overflow-y: scroll; font-size: 62.5%; }
*, *:before, *:after { box-sizing: inherit; }

article {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em 2em;
}